<html>
<head>
<style>

body{
	color: #404040;
}
{% if True %}
	.test{
		color: {{ test }};
	}
{% endif %}

</style>

<script>
	{% if True %}
		$(document).ready(function(){
			$("#test").text({{ text }});
		});
	{% endif %}

</script>

</head>

<body>

{% block content %}

    <div
        ## Comment
    >
    </div>

    {% if True %}
        A
    {% elif False %}
        B
    {% elif False %}
        {% if False %}
            C
        {% else %}
            D
        {% endif %}
        E
    {% else %}
        F
    {% endif %}


{% endblock %}

</body>
</html>
## kate: syntax Jinja2/HTML
